<!DOCTYPE html>
<html>
<head>
	<title>Results:  <%= data.criteria.q  %> </title>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/header %>
	<h1>Results: <%= data.criteria.q  %> </h1>
	<div class="container">
		<div class="row">
		<%  for(var i = 0;i <= data.matches.length -1 ;i++){ %>
	    <div class="col-sm">
	    	<div class="card" style="width: 18rem;">
			  <img class="card-img-top" src="<%= data.matches[i].imageUrlsBySize[90] %>" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title"><%= data.matches[i].recipeName %></h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="btn btn-primary">Go somewhere</a>
			  </div>
			</div>
	    </div>
	  	<% };%>
	  </div>

	</div>

	<% include ../partials/footer %>
</body>
</html>